{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>宝くじ結果照合サイト</title>
        <meta charset="utf-8">
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'extract/script.js' %}"></script>
        <link rel="icon" href="{% static 'extract/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'extract/style.css' %}">
        
        {% block head %}
        {% endblock  %}
    </head>
    
    <body>
        <div class="header">
            <h4>〜宝くじ結果照合サイト〜</h4>
            <small>
                <p>いくつかの数を選択して個数を指定すると、その候補の中から指定された数が含まれた当選会が表示されます。</p>
                <p>自分で数字を予想する際などに、是非当サイトを利用ください。</p>
            </small>
            
        </div>

        <div class="menu-bar">
            <div id="for-loto6"><a href="{% url 'extract:loto6' %}">ロト6</a></div>
            <div id="for-loto7"><a href="{% url 'extract:loto7' %}">ロト7</a></div>
            <div id="for-miniloto"><a href="{% url 'extract:miniloto' %}">ミニロト</a></div>
        </div>
        
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>